h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
.header-main {
    width: 100%;
    height: 500px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: normal;
}

.header-main div {
    height: 30px;
}

.header-main .div-1 {
    background-color: #B381DE;
    flex-basis: 100px;
    order: 1;
}

.header-main .div-2 {
    background-color: #6ADE95;
    flex-basis: 100px;
    order: 2;
    flex-grow: 3;
}

.header-main .div-3 {
    background-color: #20b328;
    flex-basis: 100px;
    order: 3;
    flex-grow: 2;
}